* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
  }

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .col h2 {
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    transition: background 0.3s;
  }

  .col h2:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .col button {
    outline: none;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  .col button:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  #copy {
  position: absolute;
  left: 590px;
  top: 60px;
  margin: 25px 0;
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 10px;
  color: ghostwhite;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.copy_show {
  display: initial;
}

.copy_hide {
  display: none;
}